@model UserSignup.ViewModels.AddUserViewModel

<br />
<form method="post" action="Add">

    <div asp-validation-summary="All"></div>

    <div class="form-element">
        <label asp-for="Username"></label>
        <input asp-for="Username" />
    </div>
    <div class="form-element">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>
    <div class="form-element">
        <label asp-for="Password"></label>
        <input asp-for="Password"/>

    </div>
    <div class="form-element">
        <label asp-for="Verify">Verify Password</label>
        <input asp-for="Verify"/>

    </div>

    <input type="submit" value="Submit" />
</form>
